# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

from pprint import pprint

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [72]:
weather_df = pd.read_csv("../output_data/weather_export.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hami,42.80,93.45,12.79,71,0,5.97,CN,1607912099
1,zarand,30.81,56.56,35.83,82,0,1.39,IR,1607912099
2,mataura,-46.19,168.86,60.01,70,82,10.00,NZ,1607911700
3,beyneu,45.32,55.20,22.71,95,0,12.59,KZ,1607911768
4,dikson,73.51,80.55,-3.84,92,100,14.52,RU,1607911748

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [73]:
gmaps.configure(api_key=g_key)

In [74]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
* Drop any rows will null values.

In [75]:
good_weather_df = weather_df[(weather_df["Max Temp"] > 70) \
                             & (weather_df["Max Temp"] < 80) \
                             & (weather_df["Wind Speed"] > 10) \
                             & (weather_df["Cloudiness"] == 0)]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [84]:
hotel_df = good_weather_df[["City", "Country", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = None

hotel_df

             City Country    Lat     Lng Hotel Name
11      carnarvon      AU -24.87  113.63       None
34         atuona      PF  -9.80 -139.03       None
131  sainte-marie      RE -20.90   55.55       None
315           gat      IL  31.61   34.76       None
380      filingue      NE  14.35    3.32       None
523       kismayo      SO  -0.36   42.55       None

In [85]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}

hotel_df["Hotel Lat"] = "" 
hotel_df["Hotel Lng"] = ""

for index, row in hotel_df.iterrows():

    lat = row['Lat']
    lng = row["Lng"]

    # add keyword to params dict
    params['location'] = f"{lat}, {lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df["Hotel Name"][index] = results[0]['name']
        hotel_df["Hotel Lat"][index] = float(results[0]['geometry']['location']['lat'])
        hotel_df["Hotel Lng"][index] = float(results[0]['geometry']['location']['lng'])
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 11: carnarvon.
Closest hotel is Tilly Gia home sweet home.
------------
Retrieving Results for Index 34: atuona.

c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Closest hotel is Pension Temetiu Village.
------------
Retrieving Results for Index 131: sainte-marie.
Closest hotel is lotissement la cascade.
------------
Retrieving Results for Index 315: gat.
Closest hotel is שדרות גת 88 קרית גת.
------------
Retrieving Results for Index 380: filingue.
Missing field/result... skipping.
------------
Retrieving Results for Index 523: kismayo.
Closest hotel is Fadlulah Hotel.
------------

In [86]:
hotel_df = hotel_df.dropna()

hotel_df

,City,Country,Lat,Lng,Hotel Name,Hotel Lat,Hotel Lng
11,carnarvon,AU,-24.87,113.63,Tilly Gia home sweet home,-24.88,113.653
34,atuona,PF,-9.80,-139.03,Pension Temetiu Village,-9.80087,-139.032
131,sainte-marie,RE,-20.90,55.55,lotissement la cascade,-20.9021,55.5532
315,gat,IL,31.61,34.76,שדרות גת 88 קרית גת,31.6099,34.7598
523,kismayo,SO,-0.36,42.55,Fadlulah Hotel,-0.359429,42.5489

In [87]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [88]:
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Tilly Gia home sweet home</dd>\n<dt>City</dt><dd>carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pension Temetiu Village</dd>\n<dt>City</dt><dd>atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>lotissement la cascade</dd>\n<dt>City</dt><dd>sainte-marie</dd>\n<dt>Country</dt><dd>RE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>שדרות גת 88 קרית גת</dd>\n<dt>City</dt><dd>gat</dd>\n<dt>Country</dt><dd>IL</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Fadlulah Hotel</dd>\n<dt>City</dt><dd>kismayo</dd>\n<dt>Country</dt><dd>SO</dd>\n</dl>\n']

In [89]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_df[["Lat", "Lng"]], info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))