# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

from pprint import pprint

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [46]:
# loading csv from weatherpy and putting in dataframe
weather_df = pd.read_csv("../output_data/weather_export.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hami,42.80,93.45,12.79,71,0,5.97,CN,1607912099
1,zarand,30.81,56.56,35.83,82,0,1.39,IR,1607912099
2,mataura,-46.19,168.86,60.01,70,82,10.00,NZ,1607911700
3,beyneu,45.32,55.20,22.71,95,0,12.59,KZ,1607911768
4,dikson,73.51,80.55,-3.84,92,100,14.52,RU,1607911748

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [47]:
gmaps.configure(api_key=g_key)

In [48]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
* Drop any rows will null values.

In [49]:
good_weather_df = weather_df[(weather_df["Max Temp"] > 70) \
                             & (weather_df["Max Temp"] < 80) \
                             & (weather_df["Wind Speed"] < 10) \
                             & (weather_df["Cloudiness"] == 0)]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [50]:
hotel_df = good_weather_df[["City", "Country", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = None

hotel_df

                City Country    Lat     Lng Hotel Name
17           cayenne      GF   4.93  -52.33       None
102  lazaro cardenas      MX  17.96 -102.20       None
118              waw      SS   7.70   28.00       None
176            prado      BR -17.34  -39.22       None
194        caravelas      BR -17.71  -39.25       None
229            mecca      SA  21.43   39.83       None
244        san-pedro      CI   4.75   -6.64       None
307           beloha      MG -25.17   45.05       None
352          nampula      MZ -15.12   39.27       None
356            paoua      CF   7.24   16.44       None
378       sao filipe      CV  14.90  -24.50       None
428           sokoto      NG  13.06    5.24       None
507      san ignacio      BZ  17.16  -89.07       None
549         umm lajj      SA  25.02   37.27       None

In [51]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}

hotel_df["Hotel Lat"] = "" 
hotel_df["Hotel Lng"] = ""

for index, row in hotel_df.iterrows():

    lat = row['Lat']
    lng = row["Lng"]

    # add keyword to params dict
    params['location'] = f"{lat}, {lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        # filling the dataframe rows with info try works
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df["Hotel Name"][index] = results[0]['name']
        hotel_df["Hotel Lat"][index] = float(results[0]['geometry']['location']['lat'])
        hotel_df["Hotel Lng"][index] = float(results[0]['geometry']['location']['lng'])
        
    except (KeyError, IndexError):
        # skipping over if it doesn't not and printing for log
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 17: cayenne.
Closest hotel is Immeuble PHIGARITA.
------------
Retrieving Results for Index 102: lazaro cardenas.

c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\mary\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Closest hotel is Hoteles Seca.
------------
Retrieving Results for Index 118: waw.
Closest hotel is Bubbles Hotel.
------------
Retrieving Results for Index 176: prado.
Closest hotel is Belvedére Marujo da Gávea.
------------
Retrieving Results for Index 194: caravelas.
Closest hotel is Pousada Tropical.
------------
Retrieving Results for Index 229: mecca.
Closest hotel is مواقف الباصات.
------------
Retrieving Results for Index 244: san-pedro.
Closest hotel is Hotel Les Freres Unis.
------------
Retrieving Results for Index 307: beloha.
Missing field/result... skipping.
------------
Retrieving Results for Index 352: nampula.
Closest hotel is Tropical.
------------
Retrieving Results for Index 356: paoua.
Closest hotel is Quartier Paoua Elien.
------------
Retrieving Results for Index 378: sao filipe.
Closest hotel is Pensão Ngozi Nova Cidade.
------------
Retrieving Results for Index 428: sokoto.
Closest hotel is TSAMIYAR DILA AREA SOKOTO.
------------
Retrieving Results for Index 507: san ignacio.
Closest hotel is Kawoq Hostel.
------------
Retrieving Results for Index 549: umm lajj.
Closest hotel is عبدالله ظافر الثوعي.
------------

In [52]:
# first dropping rows for any locations that didn't return a hotel from google
hotel_df = hotel_df.dropna()

# dropping row beyond 10 dynamically
drop_num = (len(hotel_df) - 10)
for i in range(1, (drop_num + 1)):
    hotel_df = hotel_df.drop([hotel_df.index[-(i)]])

# showing final hotel_df
hotel_df

,City,Country,Lat,Lng,Hotel Name,Hotel Lat,Hotel Lng
17,cayenne,GF,4.93,-52.33,Immeuble PHIGARITA,4.93684,-52.3316
102,lazaro cardenas,MX,17.96,-102.20,Hoteles Seca,17.9584,-102.2
118,waw,SS,7.70,28.00,Bubbles Hotel,7.69998,27.9999
176,prado,BR,-17.34,-39.22,Belvedére Marujo da Gávea,-17.3402,-39.2199
194,caravelas,BR,-17.71,-39.25,Pousada Tropical,-17.7347,-39.2653
229,mecca,SA,21.43,39.83,مواقف الباصات,21.4305,39.83
244,san-pedro,CI,4.75,-6.64,Hotel Les Freres Unis,4.75143,-6.63857
352,nampula,MZ,-15.12,39.27,Tropical,-15.1175,39.268
378,sao filipe,CV,14.90,-24.50,Pensão Ngozi Nova Cidade,14.9004,-24.4985
507,san ignacio,BZ,17.16,-89.07,Kawoq Hostel,17.16,-89.0708

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Immeuble PHIGARITA</dd>\n<dt>City</dt><dd>cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hoteles Seca</dd>\n<dt>City</dt><dd>lazaro cardenas</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Bubbles Hotel</dd>\n<dt>City</dt><dd>waw</dd>\n<dt>Country</dt><dd>SS</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Belvedére Marujo da Gávea</dd>\n<dt>City</dt><dd>prado</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pousada Tropical</dd>\n<dt>City</dt><dd>caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>مواقف الباصات</dd>\n<dt>City</dt><dd>mecca</dd>\n<dt>Country</dt><dd>SA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Les Freres Unis</dd>\n<dt>City</dt><dd>san-pedro</dd>\n<dt>Country</dt><dd>CI</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Tropical</dd>\n<dt>City</dt><dd>nampula</dd>\n<dt>Country</dt><dd>MZ</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Pensão Ngozi Nova Cidade</dd>\n<dt>City</dt><dd>sao filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Kawoq Hostel</dd>\n<dt>City</dt><dd>san ignacio</dd>\n<dt>Country</dt><dd>BZ</dd>\n</dl>\n']

In [55]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_df[["Lat", "Lng"]], info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))